<div class="container">
  <div class="title">
    <nouislider class="volume-slider" [min]="0" [max]="1" [(ngModel)]="volume"></nouislider>
    <h1>
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
    <div class="group">
      <input type="text" class="searchbar" [(ngModel)]="nameFilter">
      <button class="action-btn very-small" [ngClass]="{'active': smallbtn}" (click)="smallbtn = !smallbtn">Petit</button>
      <button class="action-btn very-small" [ngClass]="{'active': online}" (click)="online = !online">{{online ? 'On' : 'Off'}}</button>
    </div>
  </div>
  <div *ngIf="!loading && !error" class="buttons-list">
    <button pb-button class="action-btn" [ngClass]="{'small': smallbtn}" (click)="playSound(item.name)" *ngFor="let item of lib | filterName: nameFilter">{{item.name}}</button> 
  </div>
  <div *ngIf="loading" class="buttons-list">
      <div class="bouncing-loader">
          <div></div>
          <div></div>
          <div></div>
        </div>
  </div>
  <div *ngIf="!loading && error" class="buttons-list">
      <button pb-button class="small error" (click)="load()">Réessayer</button> 
  </div>
</div>
