
<div class="main-container">
    <div class="alert alert-app-level">
    </div>
    <header class="header header-8">
        <div class="branding">
            <a href="#" class="nav-link" >
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">My SoundBox</span>
            </a>
        </div>
        <div class="header-nav" *ngIf="isAuth">
          <a *ngFor="let lobby of lobbies" routerLink="/lobby/{{lobby._id}}"><div class="server-icon lobby">{{lobby.name[0]}}</div></a>
          <clr-tooltip>
            <a clrTooltipTrigger (click)="createNewServer = true"><div class="server-icon"></div></a>
            <clr-tooltip-content clrPosition="bottom-left" clrSize="sm" *clrIfOpen>
                <span>Ajouter un salon</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
        <div class="header-actions"  *ngIf="isAuth">
            <clr-dropdown>
                <button type="button" clrDropdownTrigger>
                    <clr-icon shape="cog" size="24"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu [clrPosition]="'bottom-right'" *clrIfOpen>
                    <label class="dropdown-header">Compte</label>
                    <button type="button" clrDropdownItem>Mon profil</button>
                    <button type="button" clrDropdownItem>Paramètres</button>
                    <div class="dropdown-divider"></div>
                    <button type="button" clrDropdownItem [routerLink]="['/login']" (click)="logout()">Déconnexion</button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <clr-modal [(clrModalOpen)]="createNewServer">
      <h3 class="modal-title">Ajouter un salon</h3>
      <div class="modal-body">
          <div class="alert alert-danger" *ngIf="error">
              <div class="alert-items">
                  <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                          {{error?.message || 'Une erreur est survenue. Veuillez réessayer.'}}
                      </span>
                  </div>
              </div>
          </div>
        <div class="add-server" [@showHide]="modalLoading ? 'hidden' : 'in'">
          <div class="choice join-server">
            <h4>Rejoindre un salon</h4>
            <img src="assets/team.svg" height="70px">
            <div class="form-group">
              <div class="form-input">
                <input type="text" name="" placeholder="" [(ngModel)]="inviteLink">
                <button [ngClass]="{'hidden': !inviteLink?.length}" (click)="join()" class="inset-btn btn btn-sb"><clr-icon shape="check"></clr-icon></button>
              </div>
              <span class="input-help">Entrez un lien d'invitation</span>
            </div>
          </div>
          <div class="choice create-server">
            <h4>Créer un salon</h4>
            <img src="assets/database.svg" height="70px">
            <div class="form-group">
              <div class="form-input">
                  <input type="text" name="" [(ngModel)]="serverName">
                  <button [ngClass]="{'hidden': !serverName?.length}" class="inset-btn btn btn-sb" (click)="createServer()"><clr-icon shape="plus"></clr-icon></button>
              </div>
              <span class="input-help">Entrez le nom de votre salon</span>
            </div>
          </div>
        </div>
        <div *ngIf="modalLoading" align="center" [@showHide]="modalLoading ? 'in' : 'hidden'">
            <span class="spinner spinner-md">
                Chargement...
            </span>
            <p>Veuillez patienter pendant la création de votre salon</p>
        </div>
      </div>
  </clr-modal>