@import "~styles.scss";

.server-icon {
  height: 2rem;
  width: 2rem;
  border: 2px dashed #FFF;
  border-radius: 50%;
  overflow: hidden;
  margin-top: .25rem;
  cursor: pointer;
  position: relative;
  &:before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    position: absolute;
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1em;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .2);
  }

  &.lobby {
    border: 0;
    background-color: #FFF;
    opacity: .9;
    color: $primary-color;
    text-align: center;
    line-height: 2.3em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    &:before {
      content: "";
    }
    &:hover {
      opacity: 1;
    }
  }
}

.add-server {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  h4 {
    color: lighten($primary-color, 10);
    font-weight: bold;
  }
  .choice {
    z-index: 1;
    flex-grow: 1;
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease;
    max-height: 300px;
    overflow: hidden;
    &:first-child {
      border-right: 1px solid #666;
    }
    img {
      opacity: .5;
      margin: 3em 0;
    }
    &:focus-within {
      z-index: 3;
      flex-basis: 100%;
      background-color: #22343c;
      border-right: 0;
    }
    
  }
  &:focus-within {
    .choice:not(:focus-within) {
      opacity: 0;
      min-width: 0%;
      overflow: hidden;
      flex-basis: 0%;
      max-height: 200px;
      width: 0%;
    }
  }
  
}

.header-nav > a {
  display: inline;
  margin-right: 1em;
  text-decoration: none;
}
