
<div class="page-container">
    <div class="server-info-ctn">
      <div class="thumbnail">
        <div class="server-icon">
          <img [src]="serverimg" (error)="serverimg = '/assets/friendship.svg'">
        </div>
      </div>
      <div class="basic-info">
          <div class="name">{{server?.name || 'Server'}}</div>
          <div class="members">{{server?.users?.length || '1'}} membre(s)</div>
      </div>
      <div class="modes-info">
        <div class="mode" *ngIf="config?.offline?.active"><clr-icon shape="close"></clr-icon>Offline</div>
        <div class="mode" *ngIf="config?.slow?.active" ><clr-icon shape="check"></clr-icon>Slow mode</div>
        <div class="mode" *ngIf="config?.combo?.active"><clr-icon shape="check"></clr-icon>Combo mode</div>
        <div class="mode" *ngIf="config?.subOnly?.active"><clr-icon shape="check"></clr-icon>Sub only</div>
      </div>
      <div class="status" (click)="goOnline()">
        <span>
          <clr-icon *ngIf="!status" shape="no-wifi"></clr-icon>
          <clr-icon class="online" *ngIf="status" shape="wifi"></clr-icon>
          {{status ? 'Online' : 'Offline'}}
        </span>
      </div>
      <div class="interactions">
          <clr-dropdown>
            <button type="button" clrDropdownTrigger>
                <clr-icon shape="ellipsis-vertical" size="24"></clr-icon>
            </button>
            <clr-dropdown-menu [clrPosition]="'bottom-right'" *clrIfOpen>
                <label class="dropdown-header">Salon</label>
                <button type="button" class="with-icon" clrDropdownItem (click)="invite()"><clr-icon shape="user"></clr-icon>Inviter quelqu'un</button>
                <button type="button" *ngIf="status" class="with-icon" clrDropdownItem (click)="goOffline()"><clr-icon shape="power"></clr-icon>Aller Hors ligne</button>
                <button type="button" *ngIf="!status" class="with-icon success" clrDropdownItem (click)="goOnline()"><clr-icon shape="power"></clr-icon>Aller en ligne</button>
                <label class="dropdown-header">Intégration</label>
                <button type="button" class="with-icon" clrDropdownItem (click)="twitchLink = true"><clr-icon shape="link"></clr-icon>Lien d'intégration</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="with-icon danger" (click)="quitLobby()" clrDropdownItem><clr-icon shape="logout"></clr-icon>Quitter</button>
                <button type="button" *ngIf="role === 'creator'" class="with-icon danger" (click)="deleteLobby()" clrDropdownItem><clr-icon shape="trash"></clr-icon>Supprimer</button>
            
            </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    <nav class="subnav">
      
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': more === 'members'}" href="javascript:;" (click)="more = (more === 'members' ? false : 'members')">Membres</a>
            </li>
            <li class="nav-item" *ngIf="role === 'creator'">
                <a class="nav-link" [ngClass]="{'active': more === 'params'}"  href="javascript:;"(click)="more = (more === 'params' ? false : 'params')">Paramètres</a>
            </li>
            <li class="nav-item" *ngIf="role === 'creator'">
                <a class="nav-link" [ngClass]="{'active': more === 'server'}"  href="javascript:;"(click)="more = (more === 'server' ? false : 'server')">Serveur</a>
            </li>
        </ul>
    </nav>
    <div class="members-list" [@showHide]="more === 'server' ? 'in' : 'hidden'">
      <div class="form-group" *ngIf="server">
        <label>Nom du serveur</label>
        <input type="text" [(ngModel)]="server.name">
      </div>
      <div class="form-group">
        <label>Image</label>
        <input type="file" (change)="setThumbnail($event)" accept="image/*">
      </div>
      <div class="btn-submit">
          <button class="btn btn-sb" [disabled]="loading" (click)="savePerso()">Sauvegarder</button>
      </div>
    </div>
    <div class="members-list" [@showHide]="more === 'members' ? 'in' : 'hidden'">
      <div class="profile-icon" *ngFor="let m of server?.users">
        <clr-tooltip>
            <img clrTooltipTrigger [src]="m.user?.avatar ? PROFILE_URI_IMAGE + m.user?.avatar : 'https://www.gravatar.com/avatar/' + m.user?._id + '?d=identicon'">
            <clr-tooltip-content clrPosition="bottom-right" clrSize="xs" *clrIfOpen>
                <span>{{m.user?.username}}</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
    </div>
    <div class="params" *ngIf="role === 'creator'" [@showHide]="more === 'params' ? 'in' : 'hidden'">
        <div class="form-group">
            <label class="big">Mode du salon</label>
            <div class="checkbox">
                <input type="checkbox" id="checkrads_1" [(ngModel)]="config?.slow.active">
                <label for="checkrads_1">Slow mode</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkrads_2" [(ngModel)]="config?.combo.active">
                <label for="checkrads_2">Combo mode</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkrads_3" [(ngModel)]="config?.offline.active">
                <label for="checkrads_3">Offline mode</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkrads_4" [(ngModel)]="config?.queue.active">
                <label for="checkrads_4">Queue mode</label>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="big">Twitch</label>
            <div>
                <label for="twitch">Clé API Twitch</label>
                <input type="text" id="twitch" [(ngModel)]="twitchApiKey">
            </div>
            <div class="checkbox">
                <input type="checkbox" id="subOnly" [(ngModel)]="config?.subOnly.active">
                <label for="subOnly">Sub Only</label>
            </div>
        </div>-->
        <div class="form-group" [@showHide]="config?.slow.active ? 'in' : 'hidden'">
            <label class="big">Options du Slow Mode</label>
            <div>
                <label for="interval">Interval entre deux sons (en secondes) : </label>
                <input type="number" id="interval" [(ngModel)]="config?.slow.options.interval">
            </div>
            <!--<div class="checkbox">
                <input type="checkbox" id="nolimit" [(ngModel)]="config?.slow.options.noLimitForModerators">
                <label for="nolimit">Pas de limite pour les modos</label>
            </div>-->
        </div>
        <div class="form-group" [@showHide]="config?.combo.active ? 'in' : 'hidden'">
            <label class="big">Options du Combo Mode</label>
            <div>
                <label for="maxCmd">Nombre de commandes max</label>
                <input type="number" id="maxCmd" [(ngModel)]="config?.combo.options.maxCmdPerCombo">
            </div>
            <!--<div class="checkbox">
                <input type="checkbox" id="nolimit" [(ngModel)]="config?.combo.options.noLimitForModerators">
                <label for="nolimit">Pas de limite pour les modos</label>
            </div>-->
        </div>
        <div class="btn-submit">
            <button class="btn btn-sb" (click)="saveConfig()">Sauvegarder</button>
        </div>
    </div>
    <div class="lobby-content">
      <div class="searchbar">
        <input type="text" placeholder="Rechercher..." [(ngModel)]="filter">
        <clr-icon shape="search"></clr-icon>
      </div>
      <div class="info-bar">
        <span>{{sounds?.length}} sons disponibles <button *ngIf="role === 'creator'" (click)="addSoundModal = true" class="btn btn-sb">Ajouter</button></span>
        <div class="display-options">
          <div class="dropdown">
              <button type="button" class="dropdown-toggle" (click)="addCombo()" *ngIf="config?.combo.active">
                <clr-icon shape="add" *ngIf="!comboInput"></clr-icon> 
                <clr-icon shape="minus" *ngIf="comboInput"></clr-icon>
                Nouveau combo
              </button>
          </div>
          <clr-dropdown>
              <button type="button" clrDropdownTrigger>
                  <clr-icon shape="grid-view"></clr-icon>
                  {{size === 'compact' ? 'Compact' : 'Détaillé'}}
              </button>
              <clr-dropdown-menu [clrPosition]="'bottom-right'" *clrIfOpen>
                  <button type="button" class="with-icon" (click)="size = 'compact'" clrDropdownItem><clr-icon shape="grid-view"></clr-icon>Compact</button>
                  <button type="button" class="with-icon" (click)="size = 'details'" clrDropdownItem><clr-icon shape="axis-chart"></clr-icon>Détaillé</button>
              </clr-dropdown-menu>
          </clr-dropdown>
        </div>
      </div>
      <div class="combo-input" [@accordionShowHide]="comboInput ? 'show' : 'hide'">
        <h4>Créer un combo <clr-icon style="float:right; cursor:pointer;" shape="close" (click)="comboInput = false"></clr-icon></h4>
        <span class="help">Entrez le nom des commandes, séparées par des virgules</span>
        <div class="combo-group">
            <input type="text" placeholder="Tapez votre combo..." [(ngModel)]="currentCombo">
            <span class="combo-info" [ngClass]="{'error': currentCombo?.split(',').length > config?.combo.options.maxCmdPerCombo}" *ngIf="config?.combo?.options?.maxCmdPerCombo">{{currentCombo?.split(',').length || 0}}/{{config?.combo.options.maxCmdPerCombo}}</span>
            <button 
              class="btn btn-primary" 
              (click)="sendCombo()" 
              type="submit" 
              [@accordionShowHide]="currentCombo?.length && currentCombo?.split(',').length <= config?.combo.options.maxCmdPerCombo ? 'show': 'hide'"
              [disabled]="loadingCombo"
            >
              <clr-icon shape="play"></clr-icon>
            </button>
        </div>
        <span class="error" *ngIf="comboError">La commande "{{comboError}}" est introuvable.</span>
        <span class="error" *ngIf="currentCombo?.split(',').length > config?.combo.options.maxCmdPerCombo">Vous ne pouvez ajouter que 6 commandes maximum en combo.</span>
        <div class="ongoing-combo">

        </div>
      </div>
      <div class="sound-list">
        <div class="inner-sound-list">
          <div class="sound-elem" *ngFor="let sound of sounds | filterName: filter | limit: 20">
            <div class="elem-name">
              <span>{{sound.name}}</span>
              <button *ngIf="size === 'compact'" type="button" class="btn-icon" (click)="play(sound)"><clr-icon shape="play"></clr-icon></button>
              <clr-dropdown *ngIf="size === 'details'">
                <button type="button" clrDropdownTrigger>
                    <clr-icon shape="ellipsis-vertical"></clr-icon>
                </button>
                <clr-dropdown-menu [clrPosition]="'bottom-right'" *clrIfOpen>
                    <button type="button" class="with-icon" (click)="preview(sound)" clrDropdownItem><clr-icon shape="play"></clr-icon>Préécouter</button>
                    <button type="button" class="with-icon" *ngIf="config?.combo.active" (click)="addToCombo(sound.name)" clrDropdownItem><clr-icon shape="plus"></clr-icon>Ajouter au combo</button>
                    <div class="dropdown-divider"></div>
                    <button type="button" class="with-icon danger" *ngIf="role === 'creator'" (click)="delete(sound)" clrDropdownItem><clr-icon shape="trash"></clr-icon>Supprimer</button>
                </clr-dropdown-menu>
            </clr-dropdown>
          </div>
          <div class="sound-description" [@showHide]="size === 'compact' ? 'hidden': 'in'">
            Joué {{sound.played || 0}} fois
          </div>
            <div class="sound-action"  [@showHide]="size === 'compact' ? 'hidden': 'in'">
              <button class="btn-sound-action with-icon"  (click)="play(sound)"><clr-icon shape="play"></clr-icon> Lire</button>
              <button class="btn-sound-action with-icon"><clr-icon shape="heart"></clr-icon> Favoris</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


<clr-modal [(clrModalOpen)]="invitePeople">
  <h3 class="modal-title">Inviter quelqu'un</h3>
  <div class="modal-body">
      <div class="alert alert-danger" *ngIf="error">
          <div class="alert-items">
              <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="alert-text">
                      Une erreur est survenue. Veuillez réessayer.
                  </span>
              </div>
          </div>
      </div>
    <div class="invite">
      <div align="center" style="padding: 1em">
          <img src="assets/team.svg" height="70px">
      </div>
      <div class="form-group">
        <div class="form-input large">
          <input type="text" name="" placeholder="" #inviteInput [value]="baseURL + '/invite/' + inviteLink?.code">
          <button class="inset-btn btn btn-sb" (click)="copiedText = 'Copié !'" [ngxClipboard]="inviteInput" >{{copiedText || 'Copier'}}</button>
        </div>
        <span class="input-help">Envoyez ce lien d'invitation à vos amis</span>
      </div>
    </div>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="twitchLink">
    <h3 class="modal-title">Lien d'intégration Twitch</h3>
    <div class="modal-body">
        <div class="alert alert-danger" *ngIf="error">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Une erreur est survenue. Veuillez réessayer.
                    </span>
                </div>
            </div>
        </div>
      <div class="invite">
        <div align="center" style="padding: 1em">
            <img src="assets/twitch.svg" height="70px">
        </div>
        <div class="form-group">
          <div class="form-input large">
            <input type="text" name="" placeholder="" #twitchInput [value]="baseURL + '/player?server=' + server?._id">
            <button class="inset-btn btn btn-sb" (click)="copiedText = 'Copié !'" [ngxClipboard]="twitchInput" >{{copiedText || 'Copier'}}</button>
          </div>
          <span class="input-help">Vous pouvez modifier le volume en ajoutant <small>&volume=x</small> (x entre 0 et 100)</span>
        </div>
      </div>
    </div>
  </clr-modal>
<clr-modal [(clrModalOpen)]="addSoundModal">
  <h3 class="modal-title">Ajouter un son</h3>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="error">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    Veuillez remplir tout les champs et selectionner un fichier valide.
                </span>
            </div>
        </div>
    </div>
    <div class="add-sound">
      <input type="text" placeholder="Nom de la commande" [(ngModel)]="commandName"><br>
      <input type="file" (change)="fileAdded($event)" accept="audio/*"><br>
      <button class="btn btn-sb" (click)="sendSound()" [disabled]="!commandName || !file">Ajouter</button>
    </div>
  </div>
</clr-modal>