/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
$primary-color: #2C9E56;
.header.header-8 {
  background-color: $primary-color;
}
@import "~nouislider/distribute/nouislider.min.css";

.volume-slider {
  .noUi-horizontal {
    height: 5px!important;
  }
  .noUi-handle {
    &:focus {
      outline: 0;
    }
    top: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &:before, &:after {
      display: none;
    }
  }
}

$headerHeight:100px;
$listHeight: calc(100vh - 100px);
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 100vh;
  overflow: hidden;
  background-color: #231f20;

  .title {
    height: $headerHeight;
    max-height: $headerHeight;
    h1 {
      color: white;
      margin:0;
      padding:20px;
      text-align: center;
    }
    display: flex;
    background-color: #141213;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    > * {
      flex-basis: 30% ;
    }
  }

  .buttons-list {
    box-sizing: border-box;
    min-height: $listHeight;
    max-height: $listHeight;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em;
    align-items: center;
    justify-content: center;

  }

  @keyframes bouncing-loader {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0.1;
      transform: translateY(-1rem);
    }
  }
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  .bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #FFF;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }


  .action-btn {
    padding: 1em 2em;
    background-color: #333;
    border: 1px solid #CCC;;
    border-radius: 5px;
    transition: all .5s ease;
    color: #FFF;
    font-size: 1.6em;
    margin: 1em;
    cursor: pointer;
    &.active, &:active {
      background-color: #999;
      border-color: #999;
    }
    &:focus {
      outline: 0;
    }
    &.small {
      font-size: 1em;
    }
    &.very-small {
      padding: .5em 1em;
      font-size: .8em;
      line-height: .8em;
    }
    &.error {
      background-color: #F00;
    }
  }

  .group {
    display: flex;
    flex-direction: row nowrap;
    input {
      flex: 1 0 auto;
      background-color: rgba(91, 91, 91, 0.1);
      border:none;
      padding: 1em;
      color: #FFF;
      border-bottom: 1px solid #666;
      transition: all .2s ease;

      &:focus {
        outline: none;
        background-color: rgba(151, 151, 151, 0.1);
        border-bottom: 2px solid #666;
      }
    }
    button {
      flex: 0 1 auto;
    }
  }

}

.btn.btn-sb {
  color: #FFF;
  border-color: $primary-color;
  background-color: $primary-color;
  &:hover {
    background-color: lighten($primary-color, 10);
    color: #FFF;
  }
  &.btn-outline {
    border-color: $primary-color;
    color: lighten($primary-color, 10);
    &:hover {
      color: lighten($primary-color, 20);
    }
  }
}
button:focus, a:focus {
  outline: 0!important;
}

.page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100%;
}
.subnav {
  width: 100vw;
  display: block;
}
.lobby-content {
  display: flex;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
}
.with-icon {
  clr-icon {
    margin-right: 1em;
  }
}
.dropdown-menu {
  border: 0;
  &.dropdown-divider {
    color: #231f20;
  }
}
.btn-icon {
  background-color: transparent;
  border: 0;
  color: #FFF;
  padding: 0 .5em;
  cursor: pointer;
  border-radius: 50%;
  &:active {
    background-color: #141213;
  }
}

.form-group {
  position: relative;
  width: 80%;
  .form-input {
    position: relative;
    width: 100%;
    input {
      border: 1px solid #999;
      border-radius: 5px;
      padding: 1rem;
      width: 100%;
    }
    .inset-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      margin: 0;
      box-sizing: border-box;
      transition: all .25s ease-out;
      opacity: 1;
      &.hidden {
        opacity: 0;
        display: block;
        overflow: 'hidden';
        pointer-events: none;
      }
    }
  }
  .input-help {
    display: block;
    font-size: .5rem;
  }
  .icon-validation {
    position: absolute;
    right: 1em;
    top: 1.2em;
    font-weight: bold;
    &.valid {
      color: #0F0;
    }
    &.invalid {
      color: #F00;
    }
  }
}